@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

h2,
h1 {
  text-align: center;
  margin: 25px;
}

.add-user {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.userdata {
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: center; */
  align-content: center;
  background-color: #f7f7f7;
  background-color: #73db71;
  margin: 10px;
  border-radius: 6px;
  grid-gap: 10px;
}

.input-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

form label {
  display: inline-block;
}

form input {
  margin: 25px;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
}

textarea {
  margin: 10px;
  border-radius: 6px;

}

.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ddd; */
  padding: 10px;
}

.add-btnc,
.update-btnc,
.view-btnc,
.delete-btnc {
  margin: 10px;
  padding: 10px;
}

#add,
#update,
#view,
#delete {
  padding: 4px 19px;
  cursor: pointer;
  background-color: #0bad0b;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

#add,
#update,
#view,
#delete:hover {
  background-color: #0bad0b;
}
#add:hover{
  color: #ddd;
}
#update:hover{
  color: #ddd;
}
#view:hover{
  color: #ddd;
}
#delete:hover{
  color: #ddd;
}
.responsec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  /* background-color: #ddd; */
  padding: 5px;
  border: 1px solid #111;
}

.text-center {
  /* text-align: center; */
  padding: 17px;
  border-radius: 4px;
  
}

.table {
  margin: 50px;
}

th {
  border-bottom: 1px dashed #111;
}
.buttons{
  padding: 10px 10px;
  background-color: aqua;
}
.heading{
  background-color: #0bad0b;
  margin: 10px 10px;
  border-radius: 10px;
}

/* #line::before{
  content: "OR";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid gray;
  width: 25%;
  
} */

thead{
  
  color: #fff;
  background-color: #0bad0b;
}